#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Install Feren OS
Name[ar]=تنصيب لوبينتو 18.10
Name[ca]=Instal·lar Feren OS
Name[da]=Installer Feren OS
Name[de]=Feren OS installieren
Name[es]=Instalar Feren OS
Name[fr]=Installer Feren OS
Name[it]=Installa Feren OS
Name[no]=Installer Feren OS
Name[pl]=Zainstaluj Feren OS
Name[pt]=Instalar o Feren OS
Name[pt_BR]=Instalar Feren OS
GenericName=Install Feren OS
GenericName[ar]=تنصيب لوبينتو
GenericName[ca]=Instal·lar Feren OS
GenericName[da]=Installer Feren OS
GenericName[de]=Feren OS installieren
GenericName[es]=Instalar Feren OS
GenericName[fr]=Installer Feren OS
GenericName[it]=Installa Feren OS
GenericName[no]=Installer Feren OS
GenericName[pl]=Zainstaluj Feren OS
GenericName[pt]=Instalar o Feren OS
GenericName[pt_BR]=Instalar Feren OS
Exec=sudo calamares -style gtk2
Comment=Calamares — System Installer
Comment[ar]=الحبار — منصب النظام
Comment[ca]=Calamares — Instal·lador del Sistema
Comment[da]=Calamares - System installation
Comment[de]=Calamares — System Installer
Comment[es]=Calamares — Instalador del Sistema
Comment[fr]=Calamares  — Installateur de votre system
Comment[it]=Calamares — Installatore del Sistema
Comment[no]=Calamares — System installerer
Comment[pl]=Calamares — Instalator systemu
Comment[pt]=Calamares — Instalador do Sistema
Comment[pt_BR]=Calamares — Instalador do sistema
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
